@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); /* Desliza desde la izquierda */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Finaliza en su posición original */
  }
}
